html{
  font-size: 12px;
}
body {
    background-color: #f6f6f6;
}
  .comm-box{
    background-color: #FFF;
    margin-left: .5rem;
    padding:.3rem;
    border-radius: .3rem;
    border:1px solid #eee;
    box-sizing: border-box;
  }

  .icon-line::after{
    content: "·";
    margin: 0 .5em;
    color: #b2bac2;
}